* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.first,
.second {
  height: 50%;
  position: absolute;
  width: 100%;
  left: 0;
}

.first {
  background-color: orange;
  top: 0;
  z-index: -1;
}

.second {
  background-color: rgb(0, 183, 255);
  bottom: 0;
  z-index: -1;
}

.github {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 20px;
  background-color: #ffffff76;
  backdrop-filter: blur(10px);
  .form {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    input {
      width: 100%;
      border: none;
      outline: none;
      height: 30px;
      font-size: 20px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    button {
      align-self: flex-end;
      height: 40px;
      border: none;
      outline: none;
      cursor: pointer;
      width: 60px;
      transition: 0.3s;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;

      &:hover {
        color: #fff;
        background-color: #787676a1;
      }
    }

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .user {
    &.hide{
        display: none;
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 30%;
      border-radius: 50%;
      border: 3px solid #fff;
      padding: 5px;
    }

    .details{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        a{
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            padding: 10px 15px;
            border: 1px solid #fff;
            border-radius: 20px;

            &:hover i{
                position: relative;
                transition: .5s;
                transform: translateX(5px);
            }
        }
        &__users{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            .followers,.following{
                font-weight: 800;
            }
        }
    }

  }
}


.message{
  text-align: center;
  font-size: 2rem;
  color: red;
  text-transform: uppercase;

  &.hide{
    display: none;
  }
}